.rbc
*.sassc
.sass-cache
capybara-.html
.rspec
.rvmrc
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
.project
.DS_Store
*.sqlite3

*.sqlite3

db/development.sqlite3