<!DOCTYPE html>
<html>
<head>
  <title>VeganApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.css" />
 <!--[if lte IE 8]>
     <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4/leaflet.ie.css" />
 <![endif]-->
   <script src="http://cdn.leafletjs.com/leaflet-0.4/leaflet.js"></script>
</head>

<body>

<%= yield %>

</body>
</html>
